.details{
    margin-left: 8%;
}


.container{
    display: flex;
}

.right_side{
    margin-top: 50px;
    margin-right: 150px;
}
.topheader{
    margin-right: 100%;
   font-size: 5rem;
   font-weight: bold;
}
.heading{
    padding: 10px;
    background-color: rgb(128, 114, 114);
   border-radius: 15px;
    margin-right: 47%;
   color:white;
   align-items: center;
   
}

.item
{
    display: flex;
}

.detail{
    margin-right: 50%;
}
.image{
    display: flex;
}

.car_img{
    display: flex;
    cursor: pointer;
    margin-left: 7%;
   
}


/* .car_img:hover{
    height: 1.4rem;

} */
.car_item{
    padding: 40px;
}


/* .carimage:hover{
  height: 20%;
  width: 20%;
} */

.rent{
    padding: 10px;
    background-color: chocolate;
    margin-left: 30%;
    margin-right: 40%;
    border-radius: 15px;
}

.rent:hover{
    background-color: rgb(191, 159, 137);
}
.carimage{
    width: 200px;
    height: 300px;
}

.Services{
    margin-top: 3%;
    margin-left: 10%;
    display: flex;
    margin-right: 10%;
}

.service{
    width: 70%;
    height: 100%;
    border-radius: 15%;
}
.services1{
    flex: 0.8;
}



.about{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

.lady{
    width: 55vh;;
    height: 63vh;
}

.about_right{
    padding: 10%;
    background: rgb(39, 34, 34);
   
}

.about_detail{
    color: white;
}
.about_bottom{
    color: white;
}

.car_item_detail{
    display: flex;
   padding-right: 10px;
}

.carhire{
    width: 7vw;
    height: 7vh;
    border-radius: 35%;
}


.ourservices{
    margin-left: 30%;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.hire_align{
    display: flex;
}

.car_sale{
    font-weight: bold;
}

.car_component{
    margin-left: 20px
}

.need{
    margin-top: 60px;
    margin-left: 35%;
}